* {
    font-family: 'Google Sans', sans-serif;
}

@media (max-width: 768px) {
    .zoom {
        zoom: 0.6;
    }
}

body {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('pattern.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}